main {
  margin: 50px 0;
}

.cards-panel {
  margin: 1rem auto;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.cards-panel:hover .cards {
  transform: rotateY(180deg);
}

.card {
  font-size: 1.5rem;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card-back {
  opacity: 0;
}

.cards:hover .card-back {
  background: #8b5cf6;
  color: white;
  transform: rotateY(180deg);
  opacity: 1;
}
